{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CareConnect | Home</title>
    <link rel="stylesheet" href="{% static 'symptom_app/style.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo">💖 CareConnect</div>
    <div class="nav-links">
        <a href="/login/">Login</a>
        <a href="/signup/">Signup</a>
    </div>
</nav>

<section class="hero">
    <h1>AI Powered Hospital Management System</h1>
    <p>Check symptoms • Find hospitals • Book appointments</p>

    <a href="/signup/" class="btn">Start Now</a>
</section>

<footer>
    © 2026 Health AI System
</footer>

</body>
</html>
